<h2>That was the correct answer!</h2>
<p>{{ result.seedPerson}} was mentioned with {{result.submittedAnswer}} in a recent article<p>

<li>
{{#each result.linkingArticles}}
  <li>{{this.printValue}}</li>
{{/each}}
</li>

<p>You have have achieved {{ result.score }} consecutive correct answers so far.
<p><a href="/question">Next question...</a></p>
