<h2>That was not correct.</h2>

<p>The expected answer was {{result.expected}}.</p>

<p>You achieved a total of {{result.score}} consecutive answers correct.</p>
<p><a href="/question">Try again...</a></p>
