<h2>Hello there!</h2>

<p>
  Welcome to this not-for-public-consumption view of a new game FT Labs is working on.
</p>
<p>
  The task is to identify pairs of people who were recently mentioned (i.e. tagged in the metadata) in the same FT article(s).
</p>
<p>
  With this game, we are planning to
</p>
<ul>
  <li>create a voice 'action' for Google Home, hopefully in time for the launch of their Google store of 3rd party actions</li>
  <li>create a screen 'action' for Android devices (as above)</li>
</ul>

<p>and then, probably,</p>
<ul>
  <li>create a 'skill' for Alexa</li>
</ul>

<p>and then, possibly,</p>
<ul>
  <li>create a chatbot service for the game</li>
  <li>a module to embed the game in a Next page</li>
</ul>

<p>Meanwhile, you have the opportunity to play the game in its raw form and, ideally, pass us some feedback (email ftlabs@ft.com or slack <a href="https://financialtimes.slack.com/messages/C04E6NLNE/convo/C06GDS7UJ-1502119451.915853/">#ftlabs</a>, or FB@Work <a href="https://financialtimes.facebook.com/groups/1564021473915356/">the FT Labs group</a>) on how it does, or does not, work as a game.</p>

<br />

<form action="/question">
  <button type="submit" style="margin-top:0.5em; font-size:large; border-radius:10px;">Get Started!</button>
</form>
