<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>
      html, body {
        font-family: monospace;
        padding: 10px;
      }

      form, p, ul {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <main class="{{theme}}">
      <h1>FT Labs Correlations Game</h1>
      {{{body}}}
    </main>
    <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-forms@^4.0.4"></script>
  </body>
</html>
