<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.0,o-forms@^4.0.4,o-buttons@^5.0.2
"/>
  </head>
  <body>
    <main>
      <h1>FT Labs Correlations Game</h1>
      {{{body}}}
    </main>
    <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-forms@^4.0.4"></script>
  </body>
</html>
