<h2> Who was recently mentioned in an article with <u><em>{{seed.printValue}}</em></u>?<!--<em>{{seed.value}}</em>--></h2>

<form method="POST" action="/answer">
{{#each options}}
	<input type="radio" value="{{this.value}}" name="answer"/>{{this.printValue}}</br>
{{/each}}
<input type="submit" value="Submit Answer" />
</form>