<h2>We have run out of connections</h2>
<p>You achieved {{ score }} {{ consecutiveWording }}.</p>

<form action="/question">
  <button type="submit" style="margin-top:0.5em; font-size:large; border-radius:10px;">Start again...</button>
</form>

<h3>History</h3>
<ul>
{{#each displayable.history}}
  <li>{{this.seedPerson}} - {{ this.nextAnswer }}</li>
{{/each}}
</ul>
